# Auto detect text files and normalise line endings
* text=auto

# Force LF for source files
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Keep SVG as text
*.svg text eol=lf

# Binary
*.vsix binary
*.png binary
*.ico binary
